/* Basic reset and global styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #830e0e;
    text-align: center;
    padding: 20px 0;
}
.hero {
    max-width: 100%;
    height: auto;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
}
section {
    margin-bottom: 20px;
}
h2 {
    color: #333;
}
.Data {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}
/* Weather section specific styles */
.weather {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
.weather-icon img {
    width: 150px; 
    height: auto; 
    padding: 2px;
}
/* Footer styles */
footer {
    background-color: #830e0e;
    color: white;
    text-align: center;
    padding: 20px 0;
}